<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table border="1">
    <tr>
        <th bgcolor="aqua">ID</th>
        <th bgcolor="aqua">Name</th>
        <th bgcolor="aqua">Surname</th>
        <th bgcolor="aqua">Age</th>
        <th bgcolor="aqua">Profession</th>
        <th bgcolor="aqua">Action</th>
    </tr>

    <tr th:each="user : ${userList}">

        <td bgcolor="#ffe4c4" th:text="${user.getId()}"></td>
        <td bgcolor="#ffe4c4" th:text="${user.getName()}"></td>
        <td bgcolor="#ffe4c4" th:text="${user.getSurname()}"></td>
        <td bgcolor="#ffe4c4" th:text="${user.getAge()}"></td>
        <td bgcolor="#ffe4c4" th:text="${user.getProfession()}"></td>

    <td bgcolor="#ffe4c4">
        <a th:href="@{'/change/' + ${user.getId()}}">change &nbsp</a>
        <a th:href="@{'/delete/' + ${user.getId()}}">delete</a>
    </td>
    </tr>

</table>
<p></p>
<a style="background-color: rgb(150, 250, 150); color: rgb(0, 0, 0);
border:1px rgb(0, 0, 100)  solid; padding: 3px" th:href="@{'/add/'}">Add new user</a>

</body>
</html>









